
.profile-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;    
}

.profile-avatar {
    height: 200px;
}
.profile-header {
    border-bottom: 1px solid #efefef;
    padding: 18px 0px;
}

.profile-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.5rem;
    text-transform: capitalize;
}

.profile-subtitle {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.0625rem;
}

.profile-body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-form {
    flex: 1;
    padding-right: 50px;
}

.table-content {
    width: 100%;
}

.label-cell {
    text-align: right;
    padding-bottom: 30px;
    font-size: 1.4rem;
}

.input-cell {
    padding-left: 20px;
    padding-bottom: 30px;
}

.form-control {
    box-sizing: border-box;
    padding: 12px;
    font-size: 1.4rem;
}

.input-wraper {
    box-sizing: border-box;
}

.readonly-input {
    margin-right: 5px;
    font-size: 1.4rem;
}

.btn-control {
    background: none;
    border: 0;
    color: #05a;
    font-size: 1.3rem;
    text-decoration: underline;
}
.radio-group {
    display: flex;
    gap: 20px; /* Adds space between the radio options */
    align-items: center; /* Aligns radio buttons and text vertically */
}

.radio-option {
    display: flex;
    align-items: center;
    font-size: 14px; /* Adjusts text size to match the design */
    cursor: pointer;

    input[type='radio'] {
        display: none; /* Hide the default radio button */
    }

    .custom-radio {
        margin-left: 5px;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #333;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
    }

    /* When the radio button is checked, show the filled circle */
    input[type='radio']:checked + .custom-radio::after {
        opacity: 1;
    }

    ::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background-color: #333;
        border-radius: 2px;
        opacity: 0;
    }

    &:hover .custom-radio {
        border-color: #666; /* Darken border on hover */
    }
}

.file-info {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.avatar-wrapper {
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.custom-file-upload {
    position: relative;
    display: inline-block;
}

.file-input {
    display: none;
}

.edit-btn {
    width: 100px;    
    display: inline-block;
    padding: 6px 12px;
    float: right;
    font-size: 14px;
    cursor: pointer;    
    border-radius: 4px;
    color: #efefef;
    background-color: #000;
    transition: all 0.3s ease;
    &:hover {
        background-color: #333;
        color: white;
    }
}

.choosefile-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;    
    border-radius: 4px;
    color: #555;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    &:hover {
        background-color: #212529;
        color: white;
    }
}

