.parent-category-group {
    position: relative;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1050;
    background-color: white;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.suggestions-list .list-group-item {
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

.suggestions-list .list-group-item:hover {
    background: linear-gradient(45deg, rgba(174, 225, 225, 0.1), rgba(20, 145, 155, 0.1));
    color: var(--theme-color-1);
    font-weight: 600;
}

.modal-body {
    padding-bottom: 1rem;
}

.image_add-category {
    .rm-image_add-category {
        display: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
    }
    &:hover {
        .rm-image_add-category {
            display: block;
        }
    }
}
