.address-item-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 10px 0px 10px 0px;

    &:last-child {
        border-bottom: 0;
    }
}

.address-item {
    min-width: 0;
    width: 100%;
}

.address-header {
    margin: 0 0 4px;
    padding: 2px 4px 0px 0px;
    justify-content: space-between;
    box-sizing: border-box;
}

.address-header-details {
    margin-right: 8px;
    flex-grow: 1;
    overflow-x: hidden;
}

.address-name-container {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    min-width: 0;
}

.address-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spacer {
    border-left: 0.5px solid rgba(0, 0, 0, 0.26);
    margin: 0 8px;
}

.address-phone {
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
}

.address-actions {
    flex-basis: 40px;
}

.btn-update {
    background: none;
    border: 0;
    color: #08f;
    outline: none;
    padding: 4px;
    white-space: nowrap;
}

.address-content {
    justify-content: space-between;
}

.address-details {
    margin-right: 8px;
    flex-grow: 1;
    overflow-x: hidden;
}

.address-lines {
    font-size: 1.4rem;
    line-height: 2rem;
}

.default-btn-container {
    padding-top: 4px;
    flex-basis: 40px;
}

.btn-set-default {
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.4rem;
    height: 28px;
    line-height: 2rem;
    min-width: 0;
    padding: 4px 12px;
    white-space: nowrap;
    align-items: center;
    background: none;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: center;
    min-width: 140px;
    outline: none;
    padding: 10px;
    border: 1px solid var(--theme-color-2);
    color: var(--theme-color-2) !important;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }
}

.badge-container {
    flex-wrap: wrap;
}

.badge-default {
    margin: 0 4px 4px 0;
    border-color: var(--theme-color-2);
    color: var(--theme-color-2);
    border: 0.5px solid;
    border-radius: 1px;
    padding: 2px 4px;
    font-size: 1.2rem;
}