.notification-card {
    min-width: 330px;
    min-height: 100px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.wave {
    position: absolute;
    transform: rotate(90deg);
    left: -39px;
    top: 40px;
    width: 100px;
}
.wave.success {
    fill: #04e4003a;
}

.wave.error {
    fill: #fc0c0c3a;
}
.wave.warning {
    fill: #ffa30d3a;
}
.wave.info {
    fill: #4777ff3a;
}

.icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04e40048;
    border-radius: 50%;
    margin-left: 8px;
}
.icon-container.success {
    background-color: #04e4003a;
}

.icon-container.error {
    background-color: #fc0c0c3a;
}
.icon-container.warning {
    background-color: #ffa30d3a;
}
.icon-container.info {
    background-color: #4777ff3a;
}
.icon {
    width: 17px;
    height: 17px;
}
.icon.success {
    color: #269b24;
}

.icon.error {
    color: #d10d0d;
}
.icon.warning {
    color: #db970e;
}
.icon.info {
    color: #124fff;
}
.message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 80%;
}
.message-text,
.sub-text {
    margin: 0;
    cursor: default;
    line-height: 2.5rem;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.message-text {
    color: #269b24;
    font-size: 1.7rem;
    font-weight: 700;
}
.message-text.success {
    color: #269b24;
}

.message-text.error {
    color: #d10d0d;
}
.message-text.warning {
    color: #db970e;
}
.message-text.info {
    color: #124fff;
}
.sub-text {
    font-size: 1.4rem;
    color: #555;
}
.cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
}
