.order-cart {
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    background-color: #fff;
    margin-top: 10px;
}

.order-image {
    position: relative;
    text-align: center;
    margin-right: 15px;

    img {
        width: 79px;
        height: 79px;
        object-fit: cover;
        border-radius: 5px;
    }
}

.delivered-status {
    width: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.3rem;
    color: #28a745;
    background-color: #e6ffe6;
    border: 1px solid #28a745;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.process-status {
    width: 100px;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.3rem;
    color: #e3b231;
    background-color: rgba(227, 178, 49, 0.2);
    border: 1px solid #e3b231;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.statusMessage {
    margin-top: 10px;
}

.order-details {
    flex: 2;
    margin-left: 20px;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-size,
.product-quantity,
.order-status {
    margin: 3px 0;
    color: #666;
}

.order-price {
    flex: 1;
    text-align: right;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.order-action {
    flex: 1;
    text-align: right;
}

.btn-order {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.rate-btn {
    background-color: #333;
    color: white;
}

.cancel-btn {
    background-color: #ff6b6b;
    color: white;
}

.cancel-btn:hover,
.rate-btn:hover {
    opacity: 0.9;
}

.processing-btn {
    background-color: #ffc107;
    /* Yellow color */
    color: #333;
}

.processing-btn:hover {
    opacity: 0.9;
}

.order-cart {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 10px 0px 10px 0px;

    &:last-child {
        border: 0px;
    }
}