.sidebar-nav {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 180px;
}

.nav-pills .nav-item {
    margin-bottom: 10px;
    min-width: 180px;
}

.sidebar-nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    // transition: background-color 0.3s ease;
    min-width: 180px;
    height: auto;
    box-sizing: border-box;

}

.sidebar-nav-link:hover {
    background-color: #f0f0f0;
    min-width: 180px;
}

/* .sidebar-nav-link.active {
    background-color: #343a40;
    color: #fff;
} */

.icon-container {
    margin-right: 10px;
    font-size: 20px;
    background-color: transparent;
}


.min-vh-100 {
    min-height: 100vh;
}