// Primary Button
.theme-color {
    color: var(--theme-color-1) !important;
}

.theme-color-2 {
    color: var(--theme-color-2) !important;
}

.border-theme {
    border-color: var(--theme-color) !important;
}

.bg-theme {
    background-color: var(--theme-color) !important;
}

.bg-theme-2 {
    background-color: var(--theme-color-2) !important;
}

.primary-btn {
    background-color: var(--theme-color-1);
    border: 2px solid var(--theme-color-1);
    padding: 12px 16px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;

    p {
        font-size: 1.6rem;
    }

    &:hover {
        background-color: transparent;
        color: var(--theme-color-1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .fa-arrow-right {
        transition: transform 0.3s ease;
    }

    .fa-arrow-left {
        transition: transform 0.3s ease;
    }

    &.success-btn {
        background-color: var(--success-color);
        border: 2px solid var(--success-color);

        &:hover {
            background-color: var(--success-color-dark);
            border: 2px solid var(--success-color-dark);
            color: #fff;
        }
    }

    &.error-btn {
        background-color: var(--error-color);
        border: 2px solid var(--error-color);

        &:hover {
            background-color: var(--error-color-dark);
            border: 2px solid var(--error-color-dark);
        }
    }

    &.warning-btn {
        background-color: var(--warning-color);
        border: 2px solid var(--warning-color);

        &:hover {
            background-color: var(--warning-color-dark);
            border: 2px solid var(--warning-color-dark);
            color: #fff;
        }
    }

    &.info-btn {
        background-color: var(--info-color);
        border: 2px solid var(--info-color);

        &:hover {
            background-color: var(--info-color-dark);
            border: 2px solid var(--info-color-dark);
            color: #fff;
        }
    }

    &.full-color {
        &:hover {
            background-color: var(--theme-color-2);
            color: #fff;
            border: 2px solid var(--theme-color-2);
        }
    }
}

.primary-btn.light {
    background-color: #fff;
    border: var(--theme-color-1);
    color: var(--theme-color-1);
}

.primary-btn.light:hover {
    background-color: var(--theme-color-1);
    color: #fff;
}

button:disabled {
    cursor: not-allowed;
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    color: #fff !important;
    p {
        color: #fff !important;
    }
}

// Input checkbox
.input-checkbox {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 2px;
    opacity: 0;
}

.input-checkbox:checked + .custom-checkbox::after {
    opacity: 1;
}

.max-md {
    max-width: 1140px;
}

.swiper {
    height: 100%;
}

// Ẩn 2 mũi tên
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

// Text Input

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.input-form {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    height: 40px;
    transition: 0.2s ease-in-out;
    position: relative;
}

.input-form:focus-within {
    border: 1px solid #666;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}

.input-form.valid {
    background-color: #fff6f7;
    border: 1px solid #ff424f;
}

.input-form.valid .input-text {
    background-color: #fff6f7;
}

.input-text {
    padding: 0 10px;
    border: none;
    height: 100%;
    font-size: 1.6rem;
    color: #333;
}

// Pagination
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .page-item {
        margin: 0 5px;
        .page-link {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            font-size: 1.6rem;
            background-color: #fff;
            color: var(--theme-color-2);
            border: 1.5px solid var(--theme-color-2);
        }

        .page-link:hover {
            background-color: var(--theme-color-2);
            border-color: var(--theme-color-2);
            color: white;
        }
    }

    .active .page-link {
        background-color: var(--theme-color-2);
        border-color: var(--theme-color-2);
        color: white;
    }

    .disabled .page-link {
        opacity: 0.3;
    }
}

// Drop Down
.select {
    height: 30px;
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: #000;
    font-weight: 500;

    &:hover {
        .options {
            z-index: 1;
        }
    }
}

.selected {
    background-color: white;
    border: 1px solid #000;
    padding: 4px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: #000;
    z-index: 2;
    transition: 300ms;
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    position: relative;
    top: -10px;
    opacity: 0;
    transition: 300ms;
    border: 1px solid #000;
    z-index: -1;
}

.select:hover > .options {
    opacity: 1;
    top: 0;
}

.select:hover > .selected .arrow {
    transform: rotate(0deg);
}

.option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: white;
    width: 100%;
    font-size: 15px;
}

.option:hover {
    background-color: #000;
    color: white;
}

.options input[type='radio'] {
    display: none;
}

.options label {
    display: inline-block;
}

.options label::before {
    content: attr(data-txt);
}

.options input[type='radio']:checked + label {
    display: none;
}

.options input[type='radio']#all:checked + label {
    display: none;
}

.select:has(.options input[type='radio']#all:checked) .selected::before,
.select:has(.options input[type='radio']#all-v2:checked) .selected::before,
.select:has(.options input[type='radio']#all-v3:checked) .selected::before {
    content: attr(data-default);
}

.select:has(.options input[type='radio']#option-1:checked) .selected::before,
.select:has(.options input[type='radio']#option-1-v2:checked) .selected::before,
.select:has(.options input[type='radio']#option-1-v3:checked) .selected::before {
    content: attr(data-one);
}

.select:has(.options input[type='radio']#option-2:checked) .selected::before,
.select:has(.options input[type='radio']#option-2-v2:checked) .selected::before,
.select:has(.options input[type='radio']#option-2-v3:checked) .selected::before {
    content: attr(data-two);
}

.select:has(.options input[type='radio']#option-3:checked) .selected::before,
.select:has(.options input[type='radio']#option-3-v2:checked) .selected::before,
.select:has(.options input[type='radio']#option-3-v3:checked) .selected::before {
    content: attr(data-three);
}

.select:has(.options input[type='radio']#option-4:checked) .selected::before,
.select:has(.options input[type='radio']#option-4-v2:checked) .selected::before,
.select:has(.options input[type='radio']#option-4-v3:checked) .selected::before {
    content: attr(data-four);
}

// product Name
.product-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
    max-height: calc(1.6em * 2);
    text-wrap: wrap;
}

.ellipsis {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-icon {
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

textarea {
    outline: none;
}

//toggle checkbox
.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.125em;
    height: 1.5625em;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(50%, var(--theme-color)),
            color-stop(50%, var(--theme-color-2))
        )
        no-repeat;
    background: -o-linear-gradient(left, var(--theme-color) 50%, var(--theme-color-2) 50%) no-repeat;
    background: linear-gradient(to right, var(--theme-color) 50%, var(--theme-color-2) 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: '';
    width: 1.125em;
    height: 1.125em;
    position: absolute;
    top: 0.219em;
    left: 0.219em;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(50%, var(--theme-color)),
            color-stop(50%, var(--theme-color-2))
        )
        no-repeat;
    background: -o-linear-gradient(left, var(--theme-color) 50%, var(--theme-color-2) 50%) no-repeat;
    background: linear-gradient(to right, var(--theme-color) 50%, var(--theme-color-2) 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 1.125em - 0.219em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

//close, success button
.btn-outline-danger,
.btn-outline-success {
    color: #000;
}

// Table
.page-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    /* overflow: hidden; */
    border: 1px solid #e5e7eb;
}

.page-table th,
.page-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
}

.page-table th:first-child {
    border-top-left-radius: 8px;
}

.page-table th:last-child {
    border-top-right-radius: 8px;
}

.page-table th {
    background-color: var(--sub-primary-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.page-table td {
    font-size: 1.4rem;
}

.page-table tbody td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-table tbody tr {
    height: 50px;
}

.table__status {
    padding: 4px 6px;
    border-radius: 16px;
    text-align: center;
    font-size: 1.4rem;
    overflow: hidden;
    font-weight: 500;
}

.table__status.success {
    background-color: #e7f8f0;
    color: #41c588;
}

.table__status.processing {
    background-color: #e8f1fd;
    color: #448df2;
}

.table__status.error {
    background-color: #feeceb;
    color: #f36960;
}

.table__status.warning {
    background-color: #fff8e7;
    color: #ffb020;
}

// Tab button
.tab-button.active,
.tab-button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.tab-button {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--theme-color);
    color: #fff;
}

// Scrollbar
.scrollbar-y {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(9, 161, 161, 0.1);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--theme-color-1);
        border-radius: 3px;
    }
}

//#region Datepicker
.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__year-text--today {
    font-weight: 600 !important;
    color: var(--theme-color-1) !important;
}

.react-datepicker__input-container {
    input {
        width: 100%;
        padding: 8px 12px;
        font-size: 1.6rem;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.14);
        height: 40px;

        &:focus {
            border-color: var(--theme-color-1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
            outline: none;
        }
    }
}

.react-datepicker {
    font-size: 1.4rem !important;
    border-radius: 8px !important;
    font-family: 'Quicksand', sans-serif !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: none !important;
}

.react-datepicker__header {
    padding-top: 12px !important;
    background-color: var(--theme-color-1) !important;
    border-bottom: none !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.react-datepicker__header--custom,
.react-datepicker__header--year,
.react-datepicker__header--month {
    padding: 12px !important;
    background-color: var(--theme-color-1) !important;
    color: white !important;
}

.react-datepicker-year-header,
.react-datepicker__current-month {
    color: white !important;
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    padding-bottom: 8px !important;
}

.react-datepicker__current-month {
    color: white !important;
    font-size: 1.6rem !important;
    font-weight: 600 !important;
}

.react-datepicker__day-name {
    color: white !important;
    font-weight: 500 !important;
}

.react-datepicker__month {
    margin: 12px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__year-text {
    width: 3.2rem !important;
    line-height: 3.2rem !important;
    margin: 0.2rem !important;
    border-radius: 50% !important;
}

.react-datepicker__month-text,
.react-datepicker__year-text {
    width: 6rem !important;
    line-height: 3.2rem !important;
    margin: 0.4rem !important;
    border-radius: 8px !important;
    padding: 0.4rem !important;

    &:hover {
        background-color: var(--theme-color) !important;
    }

    &--selected {
        background-color: var(--theme-color-1) !important;
        color: white !important;
        font-weight: 600 !important;
    }

    &--keyboard-selected {
        background-color: var(--theme-color-1) !important;
        color: white !important;
    }
}

.react-datepicker__month-container,
.react-datepicker__year-wrapper {
    float: none !important;
    margin: 0 auto !important;
}

.react-datepicker__year-wrapper {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    max-width: 28rem !important;
    justify-items: center !important;
    padding: 1rem !important;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
    display: inline-block !important;
    width: 6rem !important;
    margin: 0.4rem !important;
}

.react-datepicker__day:hover {
    background-color: var(--theme-color) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: var(--theme-color-1) !important;
    color: white !important;
    font-weight: 600 !important;
}

.react-datepicker__navigation {
    top: 1rem !important;
}

.react-datepicker__navigation-icon::before {
    border-color: white !important;
}

.react-datepicker__navigation:hover *::before {
    border-color: var(--theme-color) !important;
}
//#endregion

// Modal

.modal-content {
    border-radius: 12px !important;
    border: none !important;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

//close, success button
.btn-outline-danger,
.btn-outline-success {
    color: #000;
}

// Animation for scroll reveal
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}

// Các variant cho reveal
.reveal-delay-1 {
    transition-delay: 0.2s;
}

.reveal-delay-2 {
    transition-delay: 0.4s;
}

.reveal-delay-3 {
    transition-delay: 0.6s;
}
