* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    // color: var(--theme-color-1);
}

:root {
    font-weight: 400;
    font-style: normal;
    --primary-color: #0b6477;
    --header-height: 60px;
    --header-admin-height: 60px;
    --admin-sidebar-width: 20%;
    --sub-primary-color: #35a2eb80;
    --theme-color: #aee1e1;
    --theme-color-1: #0b6477;
    --theme-color-2: #14919b;
    --theme-color-3: #0ad1c8;
    --theme-color-4: #0b2c78;
    --theme-color-5: #751e0b;
    --success-color: #269b24;
    --error-color: #d10d0d;
    --warning-color: #db970e;
    --info-color: #124fff;
    --success-color-dark: #1e8a1e;
    --error-color-dark: #b80b0b;
    --warning-color-dark: #c48609;
    --info-color-dark: #0e3ecc;
    --combo-theme-color: #ffddc1;
    --cancel-color: #6ba3be;
    --text-order-color: #fff;
}

#root {
    min-height: 100vh;
    background-color: #fff;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
}

button {
    border: none;
}

p {
    font-size: 1.4rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    display: block;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #333;
    /* Màu chữ */
}

input:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.itim-regular {
    font-family: 'Itim', serif;
    font-weight: 400;
    font-style: normal;
}
