.header {
    height: var(--header-height);
    background-color: #fff;
    z-index: 100;
}

.nav-wrapper {
    --font-color-dark: #000;
    --font-color-light: #fff;
    --bg-color: #fff;
    --main-color: #000;
    height: 40px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    border-radius: 8px;
    display: flex;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    position: relative;
}

.nav-option {
    min-width: 80px;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}

.nav-option + .nav-option {
    margin-left: 8px;
}

.nav-option.checked,
.nav-option:hover {
    background-color: var(--main-color);
}

.nav-option.checked .nav-title,
.nav-option:hover .nav-title {
    color: #fff;
}

.nav-title {
    color: var(--font-color-dark);
    font-weight: 500;
}

.nav-shop-category {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    display: none;
    width: 800px;
    // box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.nav-option.show_detail::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 15px;
    top: calc(100% - 5px);
    background-color: transparent;
}

.nav-option.show_detail:hover ~ .nav-shop-category,
.nav-shop-category:hover {
    display: flex;
}

.shop-body {
    margin-top: var(--header-height);
}
