.header {
    height: var(--header-height);
    background-color: #fff;
    z-index: 100;
}

.header-admin {
    height: var(--header-admin-height);
    background-color: #fff;
    z-index: 100;
}

.admin-body {
    margin-top: var(--header-admin-height);
}

.nav-wrapper {
    --font-color-dark: #000;
    --font-color-light: #fff;
    --bg-color: #fff;
    --main-color: #000;
    height: 40px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    border-radius: 8px;
    display: flex;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    position: relative;
}

.nav-option {
    min-width: 80px;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}

.nav-option + .nav-option {
    margin-left: 8px;
}

.nav-option.checked,
.nav-option:hover {
    background-color: var(--main-color);
}

.nav-option.checked .nav-title,
.nav-option:hover .nav-title {
    color: #fff;
}

.nav-title {
    color: var(--font-color-dark);
    font-weight: 500;
}

.nav-shop-category {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    display: none;
    width: 800px;
    // box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.nav-option.show_detail::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 15px;
    top: calc(100% - 5px);
    background-color: transparent;
}

.nav-option.show_detail:hover ~ .nav-shop-category,
.nav-shop-category:hover {
    display: flex;
}

.shop-body {
    margin-top: var(--header-height);
}

.cart-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    .cart-mini {
        display: block;
    }
}

.notification-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    .notification-mini {
        display: block;
    }
}

.cart-container::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    right: -10px;
    top: calc(100% - 5px);
    background-color: transparent;
    z-index: 4;
}

.notification-container::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 20px;
    right: -10px;
    top: calc(100% - 5px);
    background-color: transparent;
    z-index: 4;
}

.cart-mini {
    width: 400px;
    display: none;
    top: calc(100% + 10px);
    right: -10px;
    background-color: #fff;
    z-index: 2;
}

.notification-mini {
    width: 400px;
    display: none;
    top: calc(100% + 10px);
    right: -10px;
    background-color: #fff;
    z-index: 2;
}

.cart-product-container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.notification-item-container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-actions-container:hover {
    .user-actions {
        display: block;
    }
}

.user-actions-container::before {
    content: '';
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: 100%;
}

.user-actions {
    min-width: 200px;
    display: none;
    background-color: #fff;
    top: calc(100% + 10px);
    left: 12px;
    z-index: 2;
    .user-action:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.seller-option:hover {
    font-weight: 500;
    cursor: pointer;
}
