.main-manager-section {
    width: 900px;
    min-width: 300px;
}

.revenue-chart {
    height: 300px !important;
    width: 100% !important;
}

.value-color {
    color: #35a2eb;
}

.out-of-stock-table.page-table th:nth-child(5) {
    text-align: center;
}
