.border-revenue {
    border-top-color: rgb(75, 192, 192) !important;
}

.border-orders {
    border-top-color: rgb(54, 162, 235) !important;
}

.border-cancelled {
    border-top-color: rgb(255, 99, 132) !important;
}

.border-visits {
    border-top-color: rgb(153, 102, 255) !important;
}
