.not-found-container {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;

    .not-found-image {
        width: 50%;
    }

    .not-found-title {
        font-size: 20rem;
        margin: 0;
        color: #dc3545;
        text-shadow: 2px 2px 0 #ced4da;
        line-height: 1;
    }

    .not-found-description {
        font-size: 18px;
        color: #dc3545;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .not-found-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff8686;
        color: white;
        text-decoration: none;
        border-radius: 999px;
        transition: background-color 0.3s ease;
        font-weight: 600;
        font-size: 2rem;

        &:hover {
            background-color: #dc3545;
        }
    }
}
